[Unit]
Description=QOpenHD FPV Headless Service
After=network.target local-fs.target

[Service]
Type=simple
User=root
Environment=QT_QPA_PLATFORM=eglfs
Environment=XDG_RUNTIME_DIR=/run/user/0
ExecStartPre=/bin/mkdir -p /run/user/0
ExecStartPre=/bin/chmod 0700 /run/user/0
ExecStart=/usr/bin/qopenhd -platform eglfs
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
